@import "tailwindcss";

.hero-bg {
  background: linear-gradient(135deg, #000000 0%, #3b2b1a 95%, #6b4e2e 100%);
}

/* bg-[radial-gradient(circle,#3b2b1a_0%,#1e150d_60%,#000000_100%)] */
@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shine {
  animation: shine 1.5s ease-in-out;
}

/* * {
  outline: 1px solid red !important;
} */
