@import "tailwindcss";

.hero-bg {
  background: linear-gradient(135deg, #000000 0%, #3b2b1a 40%, #6b4e2e 100%);
}
@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shine {
  animation: shine 1.5s ease-in-out;
}

/* * {
  outline: 1px solid red !important;
} */
